
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
  background: #6FA4D7;
}
.comment .comment-arrow {
  border-color: #ffffff;
}

#page,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #6FA4D7;
}

#main-menu-links a {
  background: #4BB170;
}

#main-menu-links a:hover,
#main-menu-links a:focus {
/*
  background: #f6f6f2;
  background: rgba(255, 255, 255, 0.95);
 */
  background: #4BB170;
}
#main-menu-links a:active {
  background: #3E915B;
  /*
  background: rgba(255, 255, 255, 1);
  */
}

#main-wrapper {
  background-color: #ffffff;
}

.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 100%);
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #FFFFFF 100%);
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #FFFFFF 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #FFFFFF));
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #FFFFFF 100%);
  background-image: linear-gradient(top, #FFFFFF 0%, #FFFFFF 100%);
}

a {
  color: #0071B3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #ffffff;
  border-color: #ffffff;
}
#page-wrapper
{
  /*background: #292929;*/
  	background: #6FA4D7;
}

#footer-wrapper {
    /*background: #292929;*/
    background: #6FA4D7;
  	/*background: #FFFFFF;*/
}

.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #4BB170;
}
